<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Інкотермс</title>
    <style>
        .incoterms{
        text-align: center;
        }
        .text{
        margin:20px;
        color: #FFFFFF;
        }
        body{
        margin: 0; /* Убираем отступы */
        height: 100%; /* Высота страницы */
  		background:url(https://look.com.ua/pic/201403/1920x1080/look.com.ua-97163.jpg); /* Фоновый цвет и фоновый рисунок*/
  		background-size: cover;
        }
    </style>
</head>
<body >
<header th:insert="blocks/header :: header"></header>
<div class="incoterms">
    <img src="https://ucsol.ru/images/incoterms-2020m.jpg" width="900" height="500">
</div>
<div class="text">
    <ul>
    <li> <ins> EXW - Ex Works (з місцем доставки)</ins></li>
    <span>EXW часто використовується при заяві початкової ціни продажу товарів без будь-яких включених витрат і означає, що
        продавець надає товар на власній території або в іншому зазначеному місці (на заводі, фабриці, складі і т.д.).
        Продавцеві не потрібно занурювати товар на транспортний засіб і проходити експортні митні формальності. </span>
    <li> <ins> FCA - Free Carrier (із зазначенням місця доставки)</ins></li>
    <span>FCA може мати два різних значення, які передбачають різні рівні ризику і витрат для покупця і продавця. FCA (a)
        використовується в разі доставки продавцем товарів, які пройшли процедуру експортного митного оформлення, в
        вказане місце на своїй території. FCA (b) використовується в разі доставки продавцем товарів, які пройшли
        експортне митне оформлення, в зазначене місце не на своїй території. В обох випадках товари можуть доставлятися
        перевізнику або іншій особі, призначеній покупцем.</span>
    <li> <ins> CPT - Carriage Paid To (із зазначенням місця призначення)</ins></li>
    <span> За умовами CPT продавець оплачує перевезення товарів до зазначеного місця призначення. </span>
    <li><ins> CIP - Carriage and Insurance Paid to (із зазначенням місця призначення)</ins></li>
    <span>Аналогічно CPT за винятком того, що продавець зобов'язаний забезпечити мінімальне страхування товарів при
        транспортуванні. </span>
    <li><ins> DAP - Delivered at Place (із зазначенням місця призначення)</ins></li>
    <span>Зобов'язання продавця по доставці товарів вважаються виконаними після надання товарів у розпорядження покупця
        після прибуття транспортного засобу і по його готовності до розвантаження в зазначеному місці призначення. За
        умовами DAP продавець приймає всі ризики, пов'язані з доставкою товарів.</span>
    <li><ins> DPU - Delivered at Place Unloaded (із зазначенням місця призначення)</ins></li>
    <span>Відповідно до даних умов Інкотермс продавець зобов'язаний доставити і розвантажити товари в зазначеному місці.
        Продавець покриває всі транспортні витрати (експортні мита, витрати на перевезення, розвантаження з основного
        транспортного засобу в порту призначення і портові збори) і приймає на себе всі ризики до прибуття на місце
        призначення.</span>
    <li><ins> DDP - Delivered Duty Paid (із зазначенням місця призначення)</ins></li>
    <span>Продавець несе відповідальність за доставку товарів у вказане місце в країні покупця і оплачує всі витрати,
        пов'язані з транспортуванням товарів до місця призначення, включаючи імпортні мита та податки. Продавець не несе
        відповідальність за розвантаження.</span>
    </ul>
</div>

</body>
</html>